<b>Objectifs:</b>

Dans cette séance, on va terminer avec les concepts fondamentales du langage Python :
<ul><li>Flux conditionnel avec if</li>
<li>>Boucles for et while</li>
<li>Les fonctions</li>
<li>Les expressions lambda</li>
<li>Structures des données : tuples, ensembles et dictionnaires</li></ul>

<b>Flux conditionnel avec if</b>

<b>Flux conditionnel avec if</b>
<u>Exemple</u>
<br>Ecrire un code python qui permet de :
- saisir un nombre 
- Par la suite, vous allez controler/verifier le signe de nombre slon la logique suivante :

    Si nombre est strictement positif Alors afficher nombre positif 
    Sinon si nombre est strictement negatif alors afficher nombre est negatif Sinon nombre est nul

In [2]:
nbr=int(input('Entrer un nombre:'))
if nbr>0:
    print(nbr,'Le nombre est positif')
elif nbr<0:
    print(nbr,'Le nombre est négatif')
else:
    print(nbr,'Le nombre est nul')

0 Le nombre est nul

<b>Les listes</b>

In [3]:
noms=[] #liste vide

In [4]:
type(noms)

list

In [5]:
len(noms)

0

In [6]:
noms=['Ali','sonia','rahma']

In [7]:
len(noms)

3

In [8]:
noms.append('salah') # ajouter a la fin

In [9]:
noms

['Ali', 'sonia', 'rahma', 'salah']

In [10]:
noms.append(10)

In [11]:
noms

['Ali', 'sonia', 'rahma', 'salah', 10]

In [12]:
noms.append([1,2])

In [14]:
noms

['Ali', 'sonia', 'rahma', 'salah', 10, [1, 2]]

In [15]:
x=10

In [16]:
x

10

In [17]:
del x

In [18]:
x

NameError: name 'x' is not defined

In [19]:
noms[0] # premier element

'Ali'

In [20]:
noms[-1] # dernier element de la liste

[1, 2]

In [21]:
noms[-2]

10

In [22]:
del noms[-1]

In [23]:
noms

['Ali', 'sonia', 'rahma', 'salah', 10]

In [24]:
del noms[-1]

In [25]:
noms

['Ali', 'sonia', 'rahma', 'salah']

Indexation

In [26]:
noms[2] # element d'indice 2

'rahma'

In [27]:
noms[10]

IndexError: list index out of range

In [28]:
noms[-1]

'salah'

In [30]:
noms[0:3]

['Ali', 'sonia', 'rahma']

In [39]:
#les 3 derniers elements
noms[1:]

['sonia', 'rahma', 'salah']

In [37]:
# sous liste composée du 2ème et 3émé
noms[1:3]

['sonia', 'rahma']

In [40]:
noms[-3:3]

['sonia', 'rahma']

In [41]:
noms[1:-1]

['sonia', 'rahma']

Slicing avec pas négatif

In [46]:
noms[3:1:-1]

['salah', 'rahma']

In [47]:
noms[::-1]

['salah', 'rahma', 'sonia', 'Ali']

In [48]:
noms[::]

['Ali', 'sonia', 'rahma', 'salah']

In [49]:
noms.reverse()

In [50]:
noms

['salah', 'rahma', 'sonia', 'Ali']

In [51]:
noms1=noms.copy()

In [52]:
noms1

['salah', 'rahma', 'sonia', 'Ali']

In [53]:
noms1.extend(noms)

In [54]:
noms1

['salah', 'rahma', 'sonia', 'Ali', 'salah', 'rahma', 'sonia', 'Ali']

In [55]:
noms is noms1

False

Boucle For

In [59]:
print(noms[0])
print(noms[1])
print(noms[2])

salah
rahma
sonia

In [60]:
for nom in noms:
  print(nom)

salah
rahma
sonia
Ali

In [57]:
for i in range (len(noms)):
    print(noms[i])

salah
rahma
sonia
Ali

In [61]:
for i in range (len(noms)):
    noms[i]=noms[i].upper()

In [62]:
noms

['SALAH', 'RAHMA', 'SONIA', 'ALI']

Générateur de séquence

In [63]:
# générer une séquence des entiers qui : 
# commence par 1
# incrmenete par 2
# s'arrete à 10-1
# sequence : 1,3,5,7,9
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [65]:
list(range(0,3,1))

[0, 1, 2]

In [66]:
list(range(3))

[0, 1, 2]

In [67]:
list(range(len(noms)))

[0, 1, 2, 3]

In [68]:
for i in range (len(noms)):
  print(noms[i])

SALAH
RAHMA
SONIA
ALI

<b>Exercice Boucle For</b>

In [93]:
produits=["Tv","Micro-ondes","Réfrégirateur"]
prices=[1200.5,350,1800.5]
quantites=[5,10,8]
choix=input("veuiller saisir un produit")
seTrouve=False
for i in range (len(produits)):
    if produits[i]== choix:
        seTrouve=True
        break 
if seTrouve:
  print("le produit est:",produits[i])
  print("le prix est:",prices[i])
  print("la quantité est:",quantites[i])     
else:
  print("le produit n'existe pas")

le produit est: Réfrégirateur
le prix est: 1800.5
la quantité est: 8